<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fixturedesign.css" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <title>Cricket Manager | Schedule</title>
</head>
<body>
    


<!-- grid div start -->
<div class="grid-container">
    <!-- Item 1 start-->
    <div class="item1">
        
        <!-- start of dashboard box -->

        <div class="dashboard_container">

            <div class="dashboard_txt h">DASHBOARD</div>
            <div class="dash_icon  s_alone">
            <button><span class="material-symbols-outlined" onclick="fold()">dashboard</span></button> 
            </div>

            <!--  -->

            <div class="tournament_txt s h "><a href="createTournament">Tournament</a></div>
            <div class="tournament_txt_icon s ">
            <a href="createTournament"><span class="material-symbols-outlined">tour</span></a>
            </div>

            <!--  -->

            <div class="team_txt s h "><a href="createTeam">Create Team</a></div>
            <div class="team_icon s">
            <a href="createTeam"><span class="material-symbols-outlined">add</span></a>
            </div>



            <!--  -->

            <div class="live_txt s h"><a href="liveMatches">Live Score</a></div>
            <div class="live_icon s">
            <a href="liveMatches"><span class="material-symbols-outlined">live_tv</span></a>
            </div>

            <!--  -->

            <div class="matches_txt s h active"><a href="fixtures">Fixtures</a></div>
            <div class="matches_icon s">
            <a href="fixtures"><span class="material-symbols-outlined">calendar_month</span></a>
            </div>

            <!--  -->

            <div class="points_txt s h"><a href="pointsTable">Points Table</a></div>
            <div class="points_icon s">
            <a href="pointsTable"><span class="material-symbols-outlined">table_chart</span></a>
            </div>

            <!--  -->

            <div class="standing_txt s h"><a href="playersStandings">Player Standings</a></div>
            <div class="standing_icon s">
            <a href="playersStandings"><span class="material-symbols-outlined">bar_chart</span></a>
            </div>



            <!--  -->

            <div class="redirect_txt s h "><a href="redirectSettings">Redirect Settings</a></div>
            <div class="redirect_icon s">
            <a href="redirectSettings"><span class="material-symbols-outlined">forward</span></a>
            </div>

            <!--  -->

            <div class="redirect_txt s h "><a href="messageUs">Message us</a></div>
            <div class="redirect_icon s">
            <a href="messageUs"><span class="material-symbols-outlined">chat_bubble</span></a>
            </div>

             <!--  -->

            <div class="redirect_txt s h "><a href="notifications">Notifications</a></div>
            <div class="redirect_icon s">
            <a href="notifications"><span class="material-symbols-outlined">notifications</span></a>
            </div>

             <!--  -->

            <div class="redirect_txt s h "><a href="donateUs">Donate us</a></div>
            <div class="redirect_icon s">
            <a href="donateUs"><span class="material-symbols-outlined">monetization_on</span></a>
            </div>





            <!--  -->

            <div class="devupdate_txt s h"><a href="devUpdates">Dev Updates</a></div>
            <div class="devupdate_icon s">
            <a href="devUpdates"><span class="material-symbols-outlined">update</span></a>
            </div>


             


        </div>

        <!-- End of dashboard box -->

    </div>
    <!-- item1 end -->
    <!-- Item 2 start -->
    <div class="item2">
        
        <!-- start of nav -->
            <nav>
                <div class="nav_grid">
                    <div class="nav_item_1">Tournament ID : {{getDataUser.tournamentID}}</div>
                    <div class="nav_item_2"></div>
                    <div class="nav_item_3"></div>
                    <div class="nav_item_4">ACTIVE USER : {{getDataUser.userName}}</div>
                </div>
            </nav>

        <!-- End of Nav -->

    </div>
    <!-- Item 2 end -->
    <!-- Item 3 start -->
    <div class="item3">
        <!-- Tournament Creation -->
       
        <div class="note_grid">
                <div></div>
                <div id="actions" style="color: black;"> Actions</div>
        </div>

{{!--  --}}

        <div class="four_divs add_teams_team">

                <div class="add_teams">
                    <div class="content_tabledata" id="tournamentData">
                        <div class="tournament_list create_title" id="redirect_title">CREATE MATCH SCHEDULE</div>
                        
                        <div class="tournament_list">MATCH TYPE</div>
                        <div class="t_tilename">
                            <select id="match_type_select">
                                <option class="select_design" value="ODI">ODI</option>
                                {{!-- <option class="select_design" value="TEST">TEST</option> --}}
                                <option class="select_design" value="T20">T20</option>
                                <option class="select_design" value="T10">T10</option>
                                <option class="select_design" value="F5">F5</option>
                                
                            </select>
                        </div>
                        
                        
                        <div class="tournament_list">MATCH NUMBER</div>
                        <div class="t_tilename">
                            <input type="text" class="input_edit" id="matchno"  placeholder="Match Number">
                        </div>

                        <div class="tournament_list">SELECT TEAM 1</div>
                        <div class="t_tilename select_design">
                            <select id="team-select-1">
                                <option class="select_design" value="">Select Team 1</option>
                                {{#each getDataUser.teams}}
                                    <option class="select_design" value="{{this.teamID}}">{{this.teamName}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="tournament_list">SELECT TEAM 2</div>
                        <div class="t_tilename">
                            <select id="team-select-2">
                                <option class="select_design" value="">Select Team 2</option>
                                {{#each getDataUser.teams}}
                                    <option class="select_design" value="{{this.teamID}}">{{this.teamName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        
                        <div class="tournament_list">STADIUM NAME</div>
                        <div class="t_tilename">
                            <input type="text" class="input_edit" id="std_name"  placeholder="Stadium Name">
                        </div>

                        <div class="tournament_list">STADIUM LOCATION</div>
                        <div class="t_tilename">
                            <input type="text" class="input_edit" id="std_location"  placeholder="Stadium Location">
                        </div>

                        <div class="tournament_list">SELECT DATE</div>
                        <div class="t_tilename">
                        <input type="date" class="input_edit" id="date"  >
                        </div>

                        <div class="tournament_list">SELECT TIME</div>
                        <div class="t_tilename">
                        <input type="time" class="input_edit" id="time"  >
                        </div>

                        <div class="tournament_list">CREATE MATCH</div>
                        <div class="submit_btn"><button id="saveClick">C R E A T E</button></div>
                    </div>
                </div>

                  


                <div class="schedule">
                    <div class="schedule_data_title">
                        <div>MATCH SCHEDULE</div>
                        <div class="particular_btn">
                            {{!-- auto_schedule --}}
                            <div><button class="btn_1" id="refresh_box">Refresh</button></div>
                            <div><button class="btn_1" id="schedule_confirm">Auto schedule</button></div>
                            <button class="btn_1" id="auto_schedule" style="display: none;">Auto schedule hidden button</button>
                            {{!-- <div><button class="btn_1" id="auto_schedule2">Auto schedule 2x</button></div> --}}
                            <div><button class="btn_2" id="delete_all_box">Drop All</button></div>
                            <div><button class="btn_3" id="disclose_pts">Disclose Points Table</button></div>
                        </div>
                    </div>
                    <script>
                       var confirmButton = document.getElementById("schedule_confirm");
                        var autoScheduleButton = document.getElementById("auto_schedule");

                        confirmButton.addEventListener("click", function() {
                        var confirmation = confirm("Are you sure you want to schedule auto?");

                        if (confirmation) {
                            autoScheduleButton.click();
                        } else {
                            console.log("Auto schedule canceled.");
                        }
                        });


                    </script>


                    <div class="schedule_data">

                        
                        {{!-- ScheduleBOX --}}
                        {{!-- <div class="schedule_box"></div> --}}
                        {{!-- scehdule box end --}}
                    </div>
                </div>
            
                <div class="popup" id="confirmation_popup">
                    <div class="popup_content">
                        <div>Are you sure you want to drop all?</div>
                        <div class="popup_buttons">
                            <button class="btn_2" id="confirm_drop">Yes</button>
                            <button class="btn_1" id="cancel_drop">No</button>
                        </div>
                    </div>
                </div>

                

               
        </div>
{{!--  --}}


</div> 
    <!-- Item 3 end -->
    <!-- Item 4 start --> 
    <div class="item4">
        <footer>
            <!-- start of side footer container -->
            <div class="footer_container">
    
                <!--  -->
    
                <div class="acc_icon s">
                <a href="#"><span class="material-symbols-outlined">account_circle</span></a>
                </div>
    
                <!--  -->
    
                <div class="log_icon s">
                <span class="material-symbols-outlined" id="logoutUser">logout</span>
                </div>
    
                <!--  -->
    
                <div class="logall_icon s">
                <span class="material-symbols-outlined" id="logoutalldevices">power_rounded</span>
                </div>
    
    
            </div>
            <!-- End of footer container -->
        </footer>
     </div>
    <!-- Item 4 end -->

</div>
<!-- grid div end -->

<script type="text/javascript" src="/logoutPassing.js"></script>
<script type="text/javascript" src="/fixturejs.js"></script>
</body>
</html>