<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="createTournamentdesign.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <title>{{tData.real_name}}</title>
</head>
<body>

{{!-- <ul>

<h1>Active Tournaments</h1>

{{#each activeTournaments}}
  {{this.tourname}} (ID: {{this.tournamentID}}) - {{this.toururl}}<br>
{{/each}}

</ul> --}}


<div class="all_container">
  <div class="no_show"></div>
  <div class="main">

    <div class="nav">
      <center>CRICM SCORE</center>
    </div>

    <div class="section_container">
      <div class="left_name">{{tData.real_name}}</div>

          <div class="right_drop">

                <div class="upcoming-matches">
                  <span class="upcoming-matches-title">Upcoming Matches</span>
                </div>

                <div class="Schedule">
                  <span class="Schedule-title">Schedule</span>
                </div>

               

              <div class="ranks">
                  <span class="ranks_title">Rankings</span>
              </div>

              <div class="points">
                  <span class="points_title">Points Table</span>
              </div>



               <div class="series">
                  <span class="series-title">Series</span>
                    <div class="dropdown">
                      <ul>
                        {{#each activeTournaments}}
                          <li><a target="_blank" href="tournaments?id_tournament={{this.tournamentID}}&name_tournament={{this.toururl}}">
                            {{this.tourname}}
                          </a></li>
                          {{/each}}
                      </ul>
                    </div>
                </div>

              <div class="teams">
                <span class="teams-title">Teams</span>
                <div class="dropdown">
                  <ul>
                      {{#each getTeams}}
                        <li><a>{{this}}</a></li>
                      {{/each}}
                  </ul>
                </div>
              </div>

              

            </div>
    </div>


    <div class="scrollable-content">
        <div class="matches">
          <!-- Your content goes here -->
        </div>

        <div class="upcoming_matches">
        <!-- Your content goes here -->
        </div>

        <div class="standings">
          <div>TOURNAMENT RANKINGS</div>

          <div>
            <select id="sortSelect" onchange="sortAndFetchPlayerStandings()">
              <option value="runs">Total Runs</option>
              <option value="wickets">Total Wickets</option>
              <option value="strikeRate">Average Strike Rate</option>
              <option value="economy">Average Economy</option>
            </select>

          </div>

          <div class="rankings">
              
          </div>
        </div>
        
        <div class="pointsTable">
               
        </div>

         <div class="getcurrentmatchno"></div>
         
         <div class="refreshandselect">
            <div class="refresh"><button id="refresh">Refresh</button></div>
            <div>
              <select id="select_team">
                <option value="team1">Team 1</option>
                <option value="team2">Team 2</option>
              </select>
            </div>
         </div>

         <div class="liveScore"></div>


    </div>
  <div class="no_show"></div>
</div>



<script type="text/javascript" src="/publicTournament.js"></script>
</body>
</html>
